# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/

# 前端
node_modules/
dist/
dist-ssr/
*.local

# 编辑器/系统
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.sw?

# 日志/崩溃
*.log
hs_err_pid*.log
replay_pid*.log

# 数据库 / 临时数据
*.db
*.mv.db
*.trace.db
data/

# 打包文件
*.rar
